.advancedPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageSizeControl {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* 👇 Responsive behavior */
@media (max-width: 550px) {
  .pageSizeControl {
    margin-top: 8px; 
    width: 100%;
    justify-content: center;
    margin-left: 0px;
  }

  .advancedPagination .pagination {
    flex-wrap: wrap;
    justify-content: center;
  }
}
